body .v-application {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'BIZ UDPGothic', Meiryo, sans-serif;
  font-weight: 400;
}

body .v-application.theme--dark {
  color: #ddd;
}

/* flex */
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* theme */

/* color */

:root {
  --v-primary-base: #009688;
  --secondary-color: #ff5722;
}

.secondary--text {
  color: var(--v-secondary-base) !important;
  caret-color: var(--v-secondary-base) !important;
}
